@(projects : List[String], currentProject : String)
@main("Load-Time Variability") {

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Load-Time Variability</a>
          <a class="navbar-brand" href="/overview">Overview</a>
        </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

		<div class="col-xs-3 col-sm-3 col-lg-3">
			
			<form role="form">
				<label for="projects">Project</label>
				<select id="projects">
					@for(p <- projects) {
						<option value="@p" @if(p == currentProject){selected="selected"}>@p</option>
					}
				</select>
			</form>
		
			<button type="button" class="btn btn-primary" id="runButton" style="margin: 10px 0px">Run</button>
			<img id="loaderIcon" src="@routes.Assets.at("images/ajax-loader.gif")" id="loading-indicator" style="display:none"/>
			<div id="tree">
			</div>
		</div>
		<div class="col-xs-8 col-sm-8 col-lg-8">
			<pre class="prettyprint linenums" id="javaSourceCode" style="min-height: 500px">
			</pre>
			<div id="jimpleSources">
			</div>
		</div>
		<div class="col-xs-1 col-sm-1 col-lg-1">
			<p id="detailsLine"><p>
			<img id="loaderIconDetails" src="@routes.Assets.at("images/ajax-loader.gif")" id="loading-indicator" style="display:none"/>
			<ul id="details">
			</ul>
		</div>		
      </div><!--/row-->
    </div><!--/.container-->
    <hr>
    <footer>
    </footer>
    
    <script>
    
       var loadSourceCode = function(path)
       {
    	   $("#loaderIcon").show();
    	   var project = $('#projects  option:selected').val();
           $.post("/loadResult", { "fileName" : path, "project" : project }, function(data) {
           	   
        	   $('#javaSourceCode').removeClass("prettyprinted");
               $('#javaSourceCode').html(data.javaSource);
               
               $("#jimpleSources").empty();
               
               if(data.jimpleSource != null) {
	               $.each(data.jimpleSource, function(key, value) {
	                   var p = $(document.createElement('p')).text(key);
	                   $("#jimpleSources").append(p);
	                   
					   var pre = $(document.createElement('pre')).addClass("prettyprint").addClass("linenums").css("min-height","400px").html(value);
	                   $("#jimpleSources").append(pre);
	
	               });
	               
	               prettyPrint(function() {
	               	   
	               	   // Prettyprinting done, add clickable line details
		               var preIndex = 0;
		               $.each(data.jimpleSource, function(key, value) {
		                   var pre =  $("#jimpleSources>pre:eq("+preIndex+")");
		                   console.log("length " + pre.find("li").length);
		                   pre.find("li").click(function(event) {
		                       var line = $(event.target).parent().closest('li');
		                       // find line number
		                       var lineNumber = (line.index() + 1);
		                       // project name
		                       var project = $('#projects  option:selected').val();
		                       // file name == key
		                       loadLineDetails(key, lineNumber);
		                   }); 
		                   
		                   preIndex++;
		               });
	               
	               });
	               


               }
               
               $("#loaderIcon").hide();
           });
       }

       var loadLineDetails = function(path, lineNumber) {
       	 var project = $('#projects  option:selected').val();
       
          // show loading icon
          $("#loaderIconDetails").show();
          
          console.log("app " + project + " path " + path + " lineNumber " + lineNumber);
          $("#details").empty();
          $("#detailsLine").empty();
          
          $.get("/detailedLineInfo", { "app" : project, "className" : path, "lineNumber": lineNumber }, function(data) {
          	$("#detailsLine").text("Line " + lineNumber + " [" + data.details.length + "] In slice: " + data.inSlice);
          	$.each(data.details, function(index, entry) {
          		$("#details").append("<li style=\"white-space: nowrap;\">" + entry + "</li>");
          	});
          }).fail(function() {
          	$("#detailsLine").text("Error loading info for line " + lineNumber + ".");
          			
          }).always(function() {
          	$("#loaderIconDetails").hide();
          });
          
       }
    
	    $('#tree')
		  // listen for event
		  .on('select_node.jstree', function (e, data) {
		      var text = data.instance.get_node(data.selected[0]).text;
		      var icon = data.instance.get_node(data.selected[0]).icon;
		      if(icon == "glyphicon glyphicon-minus") {
		     	 loadSourceCode(data.instance.get_node(data.selected[0]).id);
		      }
		  })
	
		var loadResult = function() {
			
			$('#tree').jstree({
			'core' : {
			  'data' : {
			    'url' : '/fileTree',
			    'data' : function(node) {
			    	var project = $('#projects  option:selected').val();
			    	history.pushState(null, null, "/project/" + project);
			    	return {'project' : project };
			    }
			  },
			  'multiple' : false
			}
		    });
		    $('#tree').jstree("refresh");
		};
		
		
		
		$("#runButton").click(loadResult);
		$("#projects").change(loadResult);
		
		loadResult();
	</script>
}
